
input.withOutArrow::-webkit-inner-spin-button,
input.withOutArrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Asegura que no haya espacio adicional */
}

.container-login {
  width: 350px;
  min-width: 180px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 6px 9px 19px 10px rgba(143, 145, 156, 0.47);
  -webkit-box-shadow: 6px 9px 19px 10px rgba(143, 145, 156, 0.47);
  -moz-box-shadow: 6px 9px 19px 10px rgba(143, 145, 156, 0.47);
}
.m-b-10px {
  margin-bottom: 30px;
}

.margin-10px-0 {
  margin: 10px 0; 
}

.container-info-profile {
  @media (min-width: 576px) {
    text-align: left;
  }
}

.container-title {
  @media (min-width: 576px) {
    text-align: left;
  }
}

.container-title-right {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  @media (max-width: 575px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.text-align{
  @media (max-width: 575px) {
    text-align: center;
  }
}

.container-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.max-height-image-120px {
  /* height: 150px; */
  @media (max-width: 767px) {
    max-height: 120px;
  }
}

.max-height-image-70px {
  @media (max-width: 767px) {
    max-height: 70px;
  }
}

.styles-img img {
  width: 75%;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
}

.container-info-item {
  gap: 10px;
  align-items: center;
}

.container-info-item p {
  @media (max-width: 768px) {
    width: 50%;
  }
  font-size: small;
}
.container-info-item span {
  @media (max-width: 768px) {
    width: 50%;
  }
  font-size: small;
}

.justify-center-media-575 {
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.mt-10 {
  margin-top: 10px;
}

.th-custom {
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  vertical-align: middle;
}

.gap-10px {
  gap: 10px;
}

.m-b-22px {
  margin-bottom: 22px;
}

.m-b-0px {
  margin-bottom: 0px;
}

.text-bold {
  font-weight: 700;
}

.container-buttons-footer-info {
  @media (max-width: 767px) {
    justify-content: center;
    margin: 1rem;
  }
  margin-top: 25px;
}

.button-small {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.button-small-action{
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.button-small-cerrar{
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 12px;
  @media (max-width: 767px) {
    height: 35px;
  }
}

.table.vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.borde{
  border-bottom: 1px solid rgb(190, 177, 177);
  padding: 10px 0;
}

.borde-rigth{
  border-right: 1px solid rgb(190, 177, 177);
  padding: 10px 0;
  @media (max-width: 767px) {
    border-right: none;
  }
}

.placeholder-size{
  font-size: 15px;
}

.mensaje-validacion{
  color: red; 
  display: none;
  font-size: 13px;
}

.container-info-item-export {
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  }